@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core  Namcao13fff7</a>.</p>
    <h1>chaosasas</h1>
    <h4>asdasd</h4>
    <h4>sasa</h4>
    <h1> tauaua</h1>
    <h6>asgjhgsajgasj</h6>
    <h1>hieu</h1>
</div>
